
<div class="full-page-calendar">
    <ejs-schedule  
    [editorTemplate]="eventEditorTemplate"
    (actionComplete)="onActionComplete($event)" 
    (actionBegin)="onActionBegin($event)"
    [timeScale]="{ enable: true, interval: 30, slotCount: 1 }" 
    [workHours]="{ start: '06:00', end: '16:00' }" style="margin:24px" height="100%" 
    [eventSettings]="eventSettings" 
    [currentView]="viewType">
    <ng-template #eventEditorTemplate let-data>
        <app-event-form [studentsList]="students"></app-event-form>
        <!-- <table class="custom-event-editor" width="100%" cellPadding="5">
            <tbody>
                <tr>
                    <td>
                        <mat-label color="primary">Title</mat-label>
                    </td>
                    <td>
                        <input id="Subject" class="e-field e-input" type="text" value="data.Subject" data-name="Subject"/>
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">Student</td>
                    <td>
                        <ejs-dropdownlist  [allowFiltering]="true" id='student' [dataSource]='studentDropdownDataSource' [fields]='fields' [(value)]="selectedStudent" [placeholder]='text'></ejs-dropdownlist>
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">Location</td>
                    <td>
                    <input id="location" class="e-field e-input" type="text" value="data.Location" data-name="Location"/>
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">Start</td>
                    <td>
                        <ejs-datetimepicker id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:mm a" [value]="dateParser(data.startTime || data.StartTime)"></ejs-datetimepicker>
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">End</td>
                    <td >
                        <ejs-datetimepicker id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:mm a" [value]="dateParser(data.EndTime || data.endTime)"></ejs-datetimepicker>
                    </td>
                </tr>
            </tbody>
        </table> -->
  </ng-template>
</ejs-schedule>
</div>
