
<div class="full-page-calendar">
    <ejs-schedule  
    #scheduleObj
    [editorTemplate]="eventEditorTemplate"
    (actionBegin)="onActionBegin($event)"
    (popupOpen)="onPopupOpen($event)"
    (popupClose)="onPopupClose($event)"
    (actionComplete)="onActionComplete($event)" 
    [timeScale]="{ enable: true, interval: 30, slotCount: 1 }" 
    [workHours]="{ start: '06:00', end: '16:00' }" style="margin:24px" height="100%" 
    [eventSettings]="eventSettings" 
    [currentView]="viewType">
    <ng-template #eventEditorTemplate let-data>
        <app-event-form [starDate]="startDate" [endDate]="endDate" (onFormChange)="onFormChange($event)" [studentsList]="students"></app-event-form>
  </ng-template>
</ejs-schedule>
</div>
