<mat-card class="login-form" style="width: 500px">
    <mat-card-header>
      <h1 class="primary-text bold">Reset Password</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div class="full-width" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" autocomplete="new-email" matInput />
              <mat-icon color="primary" matPrefix>email</mat-icon>
              <mat-error *ngIf="email && email.errors && email.errors['required'] && email.touched">
                Email is required.
              </mat-error>
              <mat-error *ngIf="email && email.errors && email.errors['email'] && email.touched">
                Must be a valid email.
              </mat-error>
            </mat-form-field>
          </div>
          <div
            class="full-width"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <button type="button" [ngClass]="forgotPasswordForm.invalid ? 'disabled-button' : ''" (click)="onSubmit()"  fxFlex color="primary" mat-raised-button>
              Send Link
            </button>
          </div>
          <div class="full-width mt-1" fxLayout="row" fxLayoutAlign="end center">
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  