<div *ngIf="schedules" class="full-width" fxLayout="row">
  <div fxLayout="column" fxFlex="15">
    <mat-form-field style="margin: 24px 1rem 1rem 1rem" appearance="outline">
      <mat-label>Schedules</mat-label>
      <mat-select [(value)]="selectedSchedule">
        <mat-option [value]="option" *ngFor="let option of schedules">{{
          option.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Student List -->
    <div
      *ngIf="currentViewStudents && currentViewStudents.length > 0"
      fxLayout="column"
      fxLayoutAlign="center"
      style="margin: 0 10px; width: 100%"
    >
      <div fxLayout="column">
        <app-student-service-widgit
          [currentViewStudents]="currentViewStudents"
        ></app-student-service-widgit>
      </div>
    </div>
  </div>
  <div fxFlex>
    <app-schedular
      #scheduler
      (onEventDataUpdate)="onEventDataUpdate($event)"
      (onStartDateChange)="onStartDateChange($event)"
      (onEndDateChange)="onEndDateChange($event)"
      [schedule]="selectedSchedule"
      class="full-page"
      [style]="{ margin: '24px 24px 0 24px' }"
    ></app-schedular>
  </div>
</div>

<div
  *ngIf="!schedules || !schedules.length"
  class="full-width"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <button (click)="makeSchedule()" mat-raised-button color="primary">
      Make A Schedule
    </button>
  </div>
</div>
