<mat-toolbar style="overflow-x: hidden" class="no-padding" color="primary">
  <div
    fxFlex
    style="height: 64px"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div style="height:100%" fxFlex="85" fxLayout="column" fxLayoutAlign="center center">
      <div class="full-width" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button style="margin: auto 10px;">
          <mat-icon >
              menu
          </mat-icon>
        </button>
      </div>

    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center end"
      class="header-profile"
    >
      <div
        style="transform: skewx(20deg)"
        class="full-width full-height"
        fxLayout="row"
        fxLayoutAlign="center end"
      >
        <img
          style="height: 45px; width: 45px; border-radius: 50%; cursor: pointer"
          [src]="user.profileImage"
          alt="Profile Picture"
        />
        <p style="font-size: 14px; margin: auto 5px">
          {{ user.firstName }} {{ user.lastName }}
        </p>
      </div>
    </div>
  </div>
</mat-toolbar>
