@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import'./theme-variables.scss';
/* You can add global styles to this file, and also import other style files */
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

html, body { height: 100%;}
body { margin: 0 }
.mb-5p {
    margin-bottom: 5px;
}
.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mr-1 {
    margin-right: 1rem;
}
.ml-1 {
    margin-left: 1rem;
}
.primary-text {
    color: #3f51b5;
}
.bold {
    font-weight: bold;
}
.plain-link {
    text-decoration: none;
}
.small-text {
    font-size: 14px;
}
.xsmall-text {
    font-size: 12px;
    font-weight: 400;
}
.full-page {
    height: calc(100vh - 64px);
}
.full-sub-page {
    height: calc(100vh - 160px);
}
.full-width { 
    width: 100%;
}
.disabled-button {
    pointer-events: none;
    opacity: .85;
}

.mat-mdc-snack-bar-container {
    
    &.success{
      --mdc-snackbar-container-color: #198754;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
      --mdc-snackbar-container-opacity:.8
    }
    &.error {
        --mdc-snackbar-container-color: #dc3546ca;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
        --mdc-snackbar-container-opacity:.8
    }
    &.warning {
        --mdc-snackbar-container-color: #ffc107;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
        --mdc-snackbar-container-opacity:.8
    }
  }

  .backgroundColor {
    background-color: #3f51b50a;
  }
.header-profile {
    transform: skewx(-20deg);
    margin-right: -10px;
    background: $accentColor;
    height: 64px;
}
